:root{
    --black-300: #212121
    --purple-300: #8733ff


}
body{
    background-color: #212121;
}
.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;

}

.logoSite{
    width: 150px;
    height: 150px;
}